<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>
  <h3>Artists in <%= @genre.name %></h3>
<ul>
  <% @genre.artists.each do |artist|  %>
    <li><%= artist.name %></li>
  <% end %>
</ul>
<p>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
